setuptools
nose==1.3.7

six==1.11.0
Cython==0.27.3

numpy>=1.9.0
scipy>=0.14.1

scikit-learn>=0.19,<0.20

lockfile==0.12.2
joblib==0.11
psutil==5.4.3
pyyaml==3.12
liac-arff==2.1.1
pandas==0.19.2
xgboost==0.7.post3

ConfigSpace==0.4.4
pynisher==0.4.2
pyrfr==0.7.3
smac==0.8.0
